head
  title=title
  script(src='/js/bundle.js')
  script(src='/js/analytics.js', async)
  link(rel='stylesheet', href='/css/main.css')
  link(rel='stylesheet' href='/css/font-awesome/font-awesome.css')
  link(rel='stylesheet' href='/css/highlight-default.css')
  link(rel='shortcut icon', href='/img/favicon.ico')
  meta(property='og:title', content=fbTitle)
  meta(property='og:site_name', content=fbSiteName)
  meta(property='og:url', content=fbShareUrl)
  meta(property='og:description', content=fbDescription)
body
