doctype html
head
  title=title
  script(src='/js/bundle.js')
  script(src='/js/analytics.js', async)
  link(rel='stylesheet', href='/css/main.css')
  link(rel='stylesheet' href='/css/font-awesome/font-awesome.css')
  link(rel='stylesheet' href='/css/highlight-default.css')
  link(rel='shortcut icon', href='/img/favicon.ico')
  if fbTitle
    meta(property='og:title', content=fbTitle)
  if fbSiteName
    meta(property='og:site_name', content=fbSiteName)
  if fbShareUrl
    meta(property='og:url', content=fbShareUrl)
  if fbDescription
    meta(property='og:description', content=fbDescription)
  if fbImageUrl
    meta(property='og:image' content=fbImageUrl)
  else
    meta(property='og:image' content='http://www.brianbondy.com/img/avatar.png')
body
